@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: 'Inter', sans-serif;
}


.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge antiguo */
}

@supports (scrollbar-width: none) {
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
  }
}

/* Chrome/Safari/WebKit */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Fondo del overlay del buscador */
.overlay-bg {
  background-color: rgba(0, 0, 0, 0.575);
}

/* Optimización de rendimiento para animaciones de transform */
.will-change-transform {
  will-change: transform;
}